.image{
  width: 100%;
  height: 100vh;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer{
  position: fixed;
  padding: 16px 20px;
  width: 100%;
  background-color: black;
  height: 80px;
  bottom: 0;
}
.notfound{width: 100%;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?size=338&ext=jpg&ga=GA1.2.820640464.1670748517&semt=sph');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}